<footer class="post-info">
    <span class="label label-default">Дата</span>
    <span class="published">
        <i class="fa fa-calendar"></i><time datetime="{{ article.date.strftime("%d.%m.%Y") }}"> {{ article.date.strftime("%d.%m.%Y") }}</time>
    </span>
    {% if SHOW_DATE_MODIFIED %}
        {% if article.modified %}
            <span class="label label-default">Изменено</span>
            <span class="modified">
                <i class="fa fa-calendar"></i><time datetime="{{ article.modified.strftime("%d.%m.%Y") }}"> {{ article.locale_modified }}</time>
            </span>
        {% endif %}
    {% endif %}

    {% if SHOW_SERIES %}
        {% if article.series %}
            <span class="label label-default">Части</span>
            Часть {{ article.series.index}} из {{ article.series.name }}
        {% endif %}
    {% endif %}



    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Категория</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

    {% if SHOW_ARTICLE_AUTHOR %}
        {% if article.author %}
            <span class="label label-default">Автор</span>
            <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i> {{ article.author }}</a>
        {% endif %}
    {% endif %}
    
    {% if PDF_PROCESSOR %}
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    {% endif %}

    {% include 'includes/taglist.html' %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
